<!-- this is the about page -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>chemistri</title>
    <!-- google font cdn -->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet ">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>

    <script src="javascripts/style-components.js" charset="utf-8"></script>

    <!-- styles link -->
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
    <main>
        <h1>matches</h1>

        <!-- this is the container for the top side-scroll through names -->
        <div class="">

        </div>
        <!-- change link to proper page -->
        <div class="">
            <a href="https://www.16personalities.com/free-personality-test">Meyers Briggs</a>
            <!-- text about meyers briggs goes here -->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent gravida tincidunt dui, sed rutrum arcu interdum in. Proin aliquam nisl eget dui aliquet, lacinia fermentum nisl eleifend. Class aptent taciti sociosqu ad litora torquent per
                conubia nostra, per inceptos himenaeos. Duis condimentum tristique nulla.</p>

            <!-- why chemistri -->
            <h3>Why <strong> <a class="waves-effect waves-light btn" href="#modal1">chemistri</a></strong>?</h3>

            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h4>Modal Header</h4>
                    <p>A bunch of text</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                </div>
            </div>

            <!-- what chemistri does for you -->
            <h3>What <strong> <a class="waves-effect waves-light btn" href="#modal2">chemistri</a></strong> does for you</h3>

            <!-- Modal Structure -->
            <div id="modal2" class="modal">
                <div class="modal-content">
                    <h4>Modal Header</h4>
                    <p>A bunch of text</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                </div>
            </div>

            <br>
            <br>
            <br>

            <a href="">TAKE THE TEST NOW!</a>

            <br>
            <br>

            <a href="">back</a>

        </div>
    </main>
</body>

</html>
