<!DOCTYPE html>
<head>
    <meta charset="utf-8">


    <title>chemistri</title>
    <!-- google font cdn -->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet ">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- materialize cdn -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <!-- bootsrap cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <!-- styles link -->
    <link rel="stylesheet" href="stylesheets/index-style.css">

</head>

<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <div class="bG">
        <!-- script and div that NEED to be on every page that runs FBAuth -->
        <div id="fb-root"></div>


        <div id="index-banner" class="parallax-containern logo">
            <div class="section no-pad-bot">
                <div class="container">
                    <br><br>
                    <div class="row" id="grad1">
                        <h1 class="text-center">chemistri<img id='beaker' src="../img/ChemistriLogo.png" class="center" alt="beaker">
                        </h1>
                        <div class="row center">
                            <h4 class="header col s12">Dating made easy!</h4>
                        </div>
                    </div>
                    <div class="pad">
                        <br>
                    </div>
                    <div class="row center">
                        <!-- Our FB login button -->
                        <!-- <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false"></div> -->
                        <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="true"></div>
                    </div>
                    <div id="status">
                    </div>
                    <br><br>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="section">

                <!--   Icon Section   -->
                <div class="row">
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center brown-text"><i class="material-icons"> </i></h2>
                            <h5 class="center">                  </h5>

                            <p class="light"> </p>
                        </div>
                    </div>

                    <div class="col s12 m4">
                    </div>

                    <div class="col s12 m4">
                    </div>
                </div>

            </div>
        </div>


        <div class="parallax-container valign-wrapper">
            <div class="section no-pad-bot">
                <div class="container">
                    <div class="row center what">
                        <h2>What is Myers & Briggs?</h2>
                        <h4 class="left-align">Hurr at Chemistri we believe that finding the perfect match doesn't have to be a matter of chance.  With the Myers & Briggs compatability test, you're 3 billion times more likely to meet the person of your dreams.  Sign up today and start meeting people near you!</h4>
                    </div>
                </div>
            </div>
        </div>

        <footer class="page-footer cyan">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Another dating app?  What makes us special?</h5>
                        <p class="grey-text text-lighten-4">Here at Chemistri we believe that finding the perfect match doesn't have to be a matter of chance. With the Myers Briggs compatability test, you're 3 billion times more likely to meet the person of your dreams. So stop waiting
                            around for love to find you and sign up today to start meeting people near you!</p>
                    </div>

                    <footer class="page-footer cyan">
                        <div class="container">
                            <div class="row">
                                <div class="col l6 s12">
                                    <h5 class="white-text">Company Bio</h5>
                                    <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


                                </div>
                                <div class="col l3 s12">
                                    <h5 class="white-text">Contact</h5>

                                </div>
                                <div class="col l3 s12">
                                    <h5 class="white-text">Privacy</h5>

                                </div>
                                <div class="col l3 s12">
                                    <h5 class="white-text">Terms</h5>

                                </div>
                                <div class="col l3 s12">
                                    <h5 class="white-text">Press</h5>

                                </div>
                                <div class="container copyright">
                                    <h6 class="black-text">Made by chemistri © 2017 chemistri,  All rights reserved.</h6>
                                </div>
                            </div>
                        </div>


                    </footer>
                    </ul>
                </div>
            </div>
    </div>
    <script>
        // This is called with the results from from FB.getLoginStatus().
        function statusChangeCallback(response) {
            console.log(response);
            // The response object is returned with a status field that lets the
            // app know the current login status of the person.
            // Full docs on the response object can be found in the documentation
            // for FB.getLoginStatus().
            if (response.status === 'connected') {
                // Logged into your app and Facebook.
                testAPI(response.authResponse.accessToken);
            } else {
              // The person is not logged into your app or we are unable to tell.
              document.getElementById('status').innerHTML = 'Please log ' +
                    'into this app.';
            }
        }
        // This function is called when someone finishes with the Login
        // Button.  See the onlogin handler attached to it in the sample
        // code below.
        function checkLoginState() {
            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });
        }
        window.fbAsyncInit = function() {
            FB.init({
                appId: '142942152904938',
                cookie: true,
                xfbml: true,
                version: 'v2.8'
            });
            // enable cookies to allow the server to access
            // the session
            // Now that we've initialized the JavaScript SDK, we call
            // FB.getLoginStatus().  This function gets the state of the
            // person visiting this page and can return one of three states to
            // the callback you provide.  They can be:
            //
            // 1. Logged into your app ('connected')
            // 2. Logged into Facebook, but not your app ('not_authorized')
            // 3. Not logged into Facebook and can't tell if they are logged into
            //    your app or not.
            //
            // These three cases are handled in the callback function.
            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });
        };
        // Load the SDK asynchronously
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        // Here we run a very simple test of the Graph API after login is
        // successful.  See statusChangeCallback() for when this call is made.
        function testAPI(accessToken) {
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me?fields=id,name,email', function(response) {
                console.log(response.email);
                console.log(accessToken);
                console.log('Successful login for: ' + response.name);
                // ajax sends our facebook login data to a POST request on our index-route
                // we use some of this data for our 'newUser' cookie
                $.ajax({
                    method: 'POST',
                    url: '/',
                    dataType: 'json',
                    data: {
                        token: accessToken,
                        email: response.email,
                        username: response.name
                    }
                  })
                  .done((data) => {
                    console.log(data)
                    window.location = '/test'
                  })
                  .fail((data1) =>{
                  });

                document.getElementById('status').innerHTML = 'Thanks for logging in, ' + response.name + '!';
            });
        }
    </script>
    <!-- End of FB script -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>
