<!DOCTYPE html>
<html>

<head>
    <!-- include materialize, jquery, our js and our stylesheets -->
    <meta charset="utf-8">
    <title>chemistri</title>
</head>

<body>
    <main>
        <h1>matches</h1>

        <!-- this is the container for the top side-scroll through names -->
        <div class="">

        </div>
        <div class="">
            <table>
                <tbody>
                  <tr>
                    <!-- X is stand in for delete functionality.  -->
                      <td>X</td>
                      <td>Kelly</td>
                      <td>ENTJ</td>
                      <td><img src="https://cdn4.iconfinder.com/data/icons/eldorado-user/40/user-512.png"</td>
                  </tr>
                    <tr>
                        <td>X</td>
                        <td>Kelly</td>
                        <td>ENTJ</td>
                        <td><img src="https://cdn4.iconfinder.com/data/icons/eldorado-user/40/user-512.png"</td>
                    </tr>
                    <tr>
                        <td>X</td>
                        <td>Kelly</td>
                        <td>ENTJ</td>
                        <td><img src="https://cdn4.iconfinder.com/data/icons/eldorado-user/40/user-512.png"</td>
                    </tr>
                </tbody>
            </table>
            <!-- NOTE remember to change to users view in the browse link -->
            <a class="waves-effect waves-light btn" href="link to users view">browse</a>
        </div>
    </main>
</body>

</html>
