<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>chemistri</title>

    <!-- material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- google font cdn -->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet ">

    <!-- set initial viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>

    <!-- style components javascripts/ file -->
    <script src="/javascripts/style-components.js" charset="utf-8"></script>

    <!-- facbook login script 'rb.js' -->
    <!-- <script src="/javascripts/fb.js" charset="utf-8"></script> -->

    <!-- styles link -->
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<!-- tag and div that NEED to be on every page that runs FBAuth -->
<div id="fb-root"></div>
<main>

    <div class="container">
        <div class="section">
            <div class="row center">
                <h1>Take the Meyers Briggs Personality Test</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="section">
            <div class="row center">
                <p>Question 1/50</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="section">
            <div class="row center">

                <!-- Insert question from json data here -->
                <article>{{question}}</article>

                <form class="" action="index.html" method="post">
                    <button type="radio" name="button">Yes</button>
                    <button type="radio" name="button">No</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="section">
            <div class="row center">
                <form class="submit" action="index.html" method="post">
                    <button type="submit" name="button" class="btn btn-default profile"><a href="/result">Done</button>
                </form>

            </div>
        </div>
    </div>
    <!-- <div id="status"></div> -->

</main>

</body>

</html>
