<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>chemistri</title>
    <!-- material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- google font cdn -->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet ">

    <!-- set initial viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>

    <script src="/javascripts/style-components.js" charset="utf-8"></script>

    <!-- styles link -->
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>


<body>

  <header>
      <nav>
          <div class="nav-wrapper ">
              <a href="#" class="brand-logo center">chemistri</a>
          </div>
      </nav>
      <!-- slide out nav -->
      <ul id="slide-out" class="side-nav">
          <li>
              <div class="userView">
                  <div class="background">
                      <img src="https://cdn.shutterstock.com/shutterstock/videos/13793207/thumb/1.jpg" alt="gears">
                  </div>
                  <a href="#!user"><img class="circle" src="https://cdn3.iconfinder.com/data/icons/avatars-9/145/Avatar_Robot-512.png" alt="robot-head"></a>
                  <a href="#!name"><span class="white-text name">chemistri</span></a>
              </div>
          </li>
          <li><a href="order.html" class="waves-effect"><i class="material-icons"></i>Order</a></li>
          <li><a href="index.html" class="waves-effect"><i class="material-icons"></i>About</a></li>
          <li><a href="#" class="waves-effect"><i class="material-icons"></i></a></li>
          <li>
              <div class="divider"></div>
          </li>




      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons hamburger">menu</i></a>
      <!-- end of slide out nav -->
  </header>

  <div class="container">
    <div class="row right">
      <nav>
        <p>Hamburger</p>
      </nav>
    </div>
  </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.carousel').carousel();
        });

        // Next slide
        $('.carousel').carousel('next');
        $('.carousel').carousel('next', 3); // Move next n times.
        // Previous slide
        $('.carousel').carousel('prev');
        $('.carousel').carousel('prev', 4); // Move prev n times.
        // Set to nth slide
        $('.carousel').carousel('set', 4);
    </script>

    <script>
      $(document).ready(function() {
        $('select').material_select();
      });
    </script>

    <div class="container">

            <div class="row center">
                    <h1 class="text-center blue-text">
                      Chemistri
                    </h1>
                    <h6>Please fill in your profile</h6>
                </div>
    </div>

    <div class="container">

            <div class="row">
                <div class="col s12 center">
                    <!-- <h3><i class="mdi-content-send brown-text"></i></h3> -->
                    <h4>Upload Some Photos</h4>
                    <form class="photo" action="index.html" method="post">
                        <!-- <div class="carousel">
                            <a class="carousel-item" href="#one!"><img src="http://lorempixel.com/250/250/nature/1"></a>
                            <a class="carousel-item" href="#two!"><img src="http://lorempixel.com/250/250/nature/2"></a>
                            <a class="carousel-item" href="#three!"><img src="http://lorempixel.com/250/250/nature/3"></a>
                            <a class="carousel-item" href="#four!"><img src="http://lorempixel.com/250/250/nature/4"></a>
                            <a class="carousel-item" href="#five!"><img src="http://lorempixel.com/250/250/nature/5"></a>
                        </div> -->
                    </form>
                </div>
            </div>

    </div>



    <div class="container">

            <!--   Icon Section   -->
            <div class="row center">
                <div class="col s12 m6">
                    <div class="icon-block">
                        <h5 class="center">User Name</h5>
                        <form action="/action_page.php">
                          <input type="text" name="usr_name">
                        <!-- </form> -->
                    </div>
                </div>

                <div class="col s12 m6">
                    <div class="icon-block">
                      <div class="input-field col s12">
                        <select>
                          <option value="" disabled selected>Choose your option</option>
                          <option value="1">Man</option>
                          <option value="2">Woman</option>
                          <!-- <option value="3">Option 3</option> -->
                        </select>
                        <label>Gender</label>
                      </div>
                    </div>
                </div>
            </div>

    </div>


        <div class="container">

                <!--   Icon Section   -->
                <div class="row center">
                    <div class="col s12 m6">
                        <div class="icon-block">
                            <h5 class="center">Age</h5>
                            <form action="/profile" method="POST">
                              <input type="number" name="quantity"
                               min="0" max="100" step="1">
                            <!-- </form> -->
                        </div>
                    </div>

                    <div class="col s12 m6">
                        <div class="icon-block">
                            <h5 class="center personality">Personality</h5>
                            <p class="light">{{personality}}</p>
                        </div>
                    </div>
                </div>
        <!-- </div> -->

    <!-- <div class="container"> -->
                <div class="row center">
                    <h5 class="header col s12">Bio</h5>
                    <!-- <form> -->
                      <input type="text" name="bio">
                    <!-- </form> -->
                </div>
        <!-- </div> -->

        <!-- <div class="container"> -->
            <div class="section">
                <div class="row center">
                  <!-- NOTE PROBLEMS -->
                  <!-- <form class="submit" action="index.html" method="post"> -->
                    <button type="submit" name="action" class="btn btn-default">Done</button>
                  </form>
                </div>
        </div>


                  <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="true"></div>


</body>

</html>
