
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-family: Comfortaa, cursive;
  background: linear-gradient(to bottom right, #006AFF, cyan);
  height: 100%;
}

body {
  background: inherit;
}

nav {
  background-color: inherit;
}

.hamburger{
  color: whitesmoke;
  font-size: 3em;
}

main {
  background: inherit;
  height: 100%;
  color: whitesmoke;
  font-size: 2em;
}

.matches {
  color: whitesmoke;
}

.match-img {
  height: 4em;
  width: 4em;
}

#matches-button {
  background-color: whitesmoke;
  color: #006AFF;
  font-size: 1em;
  border-radius: 100px;
}

#matches-button {
  background-color: whitesmoke;
  color: #006AFF;
  font-size: 1em;
  border-radius: 100px;
}

#matches-button {
  background-color: whitesmoke;
  color: #006AFF;
  font-size: 1em;
  border-radius: 100px;
}

.delete {
  color: rgba(255, 252, 87, 0.99);
  /*color: cyan;*/
  font-size: 2em;
}

.delete:hover{
  color: red;
}

.matches-background {
  background-image: url();
}

.navigate {
  color: cyan;
}

#next {
  color: whitesmoke;
}

#back {
  color:whitesmoke;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */


.about {
  color: rgba(255, 252, 87, 0.99);
}

.email {
  font-size: .5em;
}
.error {
  color: whitesmoke;
}
