body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    /*background: linear-gradient(to bottom right, #006AFF, cyan);*/
    background-image: url(https://img.clipartfest.com/5e349452abaff95bf0bd5b4799de15e3_model-by-adysaputra13-model_1131-707.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.pad{
  padding-top: 50px
}

.facebook_button {
    align-content: center;
}

.bG {
    background: linear-gradient(to bottom right, #006AFF, cyan);
    opacity: 0.8;
}

.logo {
    /*background: linear-gradient(to bottom right, #006AFF, cyan);
  opacity: 0.5;*/
    align-content: center;
}

#beaker {
    width: 12%;
}

h1 {
    font-family: Comfortaa, cursive;
    font-size: 150px;
    color: rgba(255, 255, 255, 1);
    /*color: #fff;
    text-shadow: 0.5px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;*/
    padding-top: 80px;
}

p {
    line-height: 2rem;
}

/*.button-collapse {
    color: #26a69a;
}*/

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    /*color: rgba(255,255,255,.9);*/
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.copyright{
float: right;
}

.parallax-container {
    position: relative;
    overflow: hidden;
    height: 500px;
}

.parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.parallax img {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
